/nbproject/Makefile-variables.mk
/debug/
/build/
/mcc_generated_files/
/dist/
/nbproject/private/
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-impl.mk
/nbproject/Makefile-default.mk
/nbproject/Package-default.bash